body {
    padding: 2rem 0rem;
}

.like {
    font-size: 1.5rem;
}

body {
    margin: 0;
    background-color: #fff;
}

.bg-1 {
    height: 500px;
}

.mainWindow {
    background-color: #fff;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
}

.item-desc {
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
}
.item-desc  {
    text-indent: 15%;
    text-justify: inter-word;
}
.relatedCards {
    width: 100%;
    height: 150px;
    cursor: pointer;

    img {
        width: 100%;
        height: 80%;
    }
}